<audio id="conn-audio">
  <source src="audio/conn.mp3" type="audio/mpeg">
  <source src="audio/conn.wav" type="audio/wav">
</audio>
<audio id="msg-audio">
  <source src="audio/msg.mp3" type="audio/mpeg">
  <source src="audio/msg.wav" type="audio/wav">
</audio>
