<div id="cookie-info">
  {{{__ "<strong>UWAGA!</strong> Niniejsza strona wykorzystuje pliki cookies. Informacje uzyskane za pomocą cookies wykorzystywane są w celach statystycznych. Pozostając na stronie godzisz się na ich zapisywanie w Twojej przeglądarce. <a href=\"http://wszystkoociasteczkach.pl\" target=\"_blank\">Dowiedz się więcej.</a>"}}}
  <a id="cookie-info-close">{{__ "Zamknij ostrzeżenie"}}</a>
</div>