<div id="info-panel">
  <div id="menu-icons">
    <div id="sound-volume-box">
      <span id="sound-volume-icon" class="glyphicon glyphicon-volume-up"></span>
      <div id="sound-menu">
        <span id="sound-volume-max" class="glyphicon glyphicon-volume-up"></span>
        <input id="sound-volume" type="range" min="0" max="100" value="100" orient="vertical">
        <span id="sound-volume-mute" class="glyphicon glyphicon-volume-off"></span>
      </div>
    </div>

    <a id="contact-link" href="mailto:kontakt_MALPA_6pony_KROPKA_pl">
      <img id="contact-icon" src="img/contact.png" alt="Contact">
    </a>
  </div>

  <p id="stats">
    {{{__ "Rozmawiających kucyków: %s." (concat '<span id="stats-talking-count">' talkingCount '</span>')}}}
    <span id="stats-waiting" class="none">{{{__ "Oczekuje: %s." (concat '<span id="stats-waiting-count">' waitingCount '</span>')}}}</span>
    {{{__ "Kucyków online: %s (unikalnych %s)." (concat '<span id="stats-connected-count">' connectedCount '</span>') (concat '<span id="stats-unique-count">' uniqueCount '</span>')}}}
  </p>
  <p id="stranger-warning">{{__ "Nie odpowiadamy za to, co mówią spotkane tutaj osoby. Zalecamy nie udostępniać swoich prawdziwych danych osobowych."}}</p>
</div>
