<div id="partners">
  <div class="partner">
    <a class="partner-link" href="https://mlppolska.pl/" target="_blank"><img src="img/bnr/mlpp.png" alt="mlppolska.pl"></a>
  </div>
  <div class="partner">
    <a class="partner-link" href="http://fge.com.pl/" target="_blank"><img src="img/bnr/fge.png" alt="fge.com.pl"></a>
  </div>
  <div class="partner">
    <a class="partner-link" href="http://pl.mlp.wikia.com/" target="_blank"><img src="img/bnr/fim-wiki.png" alt="pl.mlp.wikia.com"></a>
  </div>
  <div class="partner">
    <a class="partner-link" href="http://polish-bronies.deviantart.com/" target="_blank"><img src="img/bnr/polish-bronies-da.png" alt="polish-bronies.deviantart.com"></a>
  </div>
  <div class="partner">
    <a class="partner-link" href="http://kucykowyteamspeak.pl/" target="_blank"><img src="img/bnr/kucykowyts.png" alt="kucykowyteamspeak.pl"></a>
  </div>
  <div class="partner">
    <a class="partner-link" href="http://fallout-equestria.pl/" target="_blank"><img src="img/bnr/foe.png" alt="fallout-equestria.pl"></a>
  </div>
</div>
