{{#if trackingUrl}}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  _paq.push(['enableHeartBeatTimer', 60]);
  (function() {
    var u="{{trackingUrl}}";
    _paq.push(['setTrackerUrl', u+'{{trackingFileBaseName}}.php']);
    _paq.push(['setSiteId', {{trackingSiteId}}]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'{{trackingFileBaseName}}.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="{{trackingUrl}}{{trackingFileBaseName}}.php?idsite={{trackingSiteId}}" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
{{/if}}