<!DOCTYPE html>
<html lang="{{__ 'pl'}}">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{__ 'Anonimowy czat dla bronies dzięki któremu poznasz wielu nowych znajomych.'}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#310D60">
    <title>{{__ '6pony - poznawaj nowe kucyki!'}}</title>
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css?v=7">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/socket.io-2.0.3.js"></script>
    <script src="js/config.js?v=2"></script>
    <script src="js/locales/{{__ 'pl'}}.js?v=1"></script>
    <script src="js/main.js?v=9"></script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script id="facebook-jssdk" src="//connect.facebook.net/{{__ 'pl_PL'}}/sdk.js#xfbml=1&amp;version=v2.10" async></script>
    {{>cookie-info}}
    <div id="root-container">
      <div id="header-row">
        <img id="logo" src="{{__ 'img/logo.png'}}" alt="{{__ '6pony - poznawaj nowe kucyki!'}}">
      </div>
      <div id="body-row">
        {{{body}}}
        {{>side-bar}}
      </div>
    </div>
    {{>piwik}}
  </body>
</html>
