{{>audio}}

<div id="chat-container">
  <div id="chat-header-row">
    {{> info-panel}}
  </div>

  <div id="chat-body-row" class="scrollable-wrapper">
    <div id="chat-body" class="scrollable">
      <div id="msg-container"></div>
      <div id="msg-writing">
        {{__ "Nieznajomy pisze wiadomość..."}}
      </div>
    </div>
  </div>

  <div id="chat-input-row">
    <div id="emoticons-panel">
      {{#each emotIcons}}
        <img src="img/emots/{{this}}" title="{{@key}}" alt="{{@key}}" class="emoticon"> 
      {{/each}}
    </div>
    <div id="chat-input" class="form-inline">
      <div id="msg-field-emots-wrapper">
        <div id="emoticons-btn-wrapper">
          <button type="button" id="emoticons-btn" class="btn btn-default" title="{{__ 'Emotikony'}}">&nbsp;<img src="img/favicon.png" title="Emoticons" alt="Emoticons"></button>
        </div>
        <div id="msg-field-wrapper">
          <input type="text" class="form-control" id="message-field" maxlength="512" spellcheck="true" disabled>
        </div>
      </div>
      <div id="send-btn-wrapper">
        <button type="button" class="btn btn-default" id="send-btn" disabled>{{__ "Wyślij"}}</button>
      </div>
      <div id="connect-btn-wrapper">
        <button type="button" class="btn btn-primary" id="connect-btn">{{__ "Połącz"}}</button>
      </div>
    </div>
  </div>
</div>
