html, body, #root-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #2B0B55;
  color: white;
}

a, a:focus {
  color: #FF0;
  text-decoration: none;
}

a:hover {
  color: #FA0;
  text-decoration: none;
}

.top-buffer {
  margin-top: 20px;
}



#root-container, #body-row, #chat-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#root-container, #chat-container {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#body-row, #chat-container, #chat-body-row {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#aside {
  -webkit-box-flex: 0 0 318px;
  -webkit-flex: 0 0 318px;
  -ms-flex: 0 0 318px;
  flex: 0 0 318px;
}

.scrollable-wrapper {
  position: relative;
}

.scrollable {
  overflow-y: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#info-panel {
  background: #321165;
  border: 1px solid #418;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

#info-panel p {
  margin-bottom: 5px;
}

#stats-waiting.some {
  color: green;
}

#stats-waiting.none {
  color: red;
}

#stranger-warning {
  font-size: 12px;
}

#menu-icons {
  float: left;
  margin-left: 4px;
  margin-right: 10px;
}

#sound-volume-box {
  position: relative;
}

#sound-volume-icon {
  font-size: 22px;
  cursor: pointer;
  color: #FFFF88;
}

#sound-menu {
  display: none;
  position: absolute;
  left: -3px;
  z-index: 99;
  text-align: center;
  background: #444;
  opacity: 0.9;
  padding: 3px 2px;
  border-radius: 2px;
}

#sound-volume {
  width: 20px;
  height: 100px;
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
}

#sound-volume-max, #sound-volume-mute {
  cursor: pointer;
}

#contact-icon {
  position: relative;
  top: -1px;
  height: 20px;
}

#msg-writing {
  display: none;
}

.msg.info {
  color: #F05DE1;
}

.msg.you {
  color: #AA93B3;
}

.emoticon {
  height: 24px;
}

#chat-input, #chat-input input, #chat-input button {
  width: 100%;
}


#emoticons-panel {
  display: none;
  background: #321165;
  border: 1px solid #418;
  border-radius: 5px;
  padding: 2px;
}

#emoticons-btn-wrapper {
  width: 35px;
  padding-left: 5px;
  float: right;
}

#msg-field-wrapper {
  overflow: auto;
}

#emoticons-btn {
  position: relative
}
#emoticons-btn img {
  position: absolute;
  left: 1px;
  top: 2px;
  width: 25px;
}

#emoticons-panel .emoticon {
  cursor: pointer;
}

.partner {
  margin-top: 10px;
}

.partner-link {
  opacity: 0.7;
  transition: all 0.3s linear 0s;
}

.partner-link:hover {
  opacity: 1;
}


@media (max-width: 768px) {
  body {
    line-height: normal; /* overwrite Bootstrap line-height */
  }
  #logo {
    width: 90%;
  }
  #info-panel {
    padding: 2px;
    min-height: 34px;
  }
  #info-panel p {
    margin: 0;
  }
  #menu-icons {
    margin-left: 1px;
    margin-right: 5px;
  }
  #menu-icons > * {
    display: inline-block;
  }
  #sound-volume-box {
    margin-left: 2px;
  }
  #sound-volume-icon {
    font-size: 26px;
  }
  #contact-icon {
    top: -7px;
    height: 22px;
  }
  #sound-volume {
    width: 26px;
    height: 150px;
  }
  #sound-volume-max, #sound-volume-mute {
    font-size: 20px;
  }
  #stranger-warning {
    display: none;
  }
  .msg {
    margin-bottom: 5px;
  }
  .msg-time, .msg-nick, .msg-colon, .msg-text {
    display: inline;
  }
  .msg.info .msg-nick {
    display: none;
  }
  #emoticons-btn-wrapper {
    width: 31px;
    padding-left: 1px;
  }
  #send-btn-wrapper, #connect-btn-wrapper {
    width: 50%;
    float: left;
  }
  #connect-btn-wrapper {
    padding-left: 1px;
  }
}

@media (max-width: 992px) {
  #aside {
    display: none;
  }
}

@media (min-width: 769px) {
  #root-container {
    padding: 15px;
    padding-left: 20px;
  }
  #logo {
    height: 128px;
  }
  .msg-time, .msg-nick, .msg-colon, .msg-text {
    display: block;
  }
  .msg-time {
    float: left;
    width: 80px;
  }
  .msg-nick {
    float: left;
    width: 100px;
    min-height: 1px;
    text-align: right;
    padding-right: 15px;
  }
  .msg-colon {
    float: left;
    width: 0px; /* hide text but allow copying it to clipboard */
    overflow: hidden;
  }
  .msg-text {
    overflow: hidden;
    border-left: solid 1px;
    padding-left: 15px;
  }
  #msg-writing {
    margin-left: 180px;
    border-left: solid 1px;
    padding-left: 15px;
  }
  #chat-body-row {
    margin-bottom: 1px;
  }
  #emoticons-panel {
    margin-top: 2px;
  }
  #chat-input {
    margin-top: 2px;
  }
  #msg-field-emots-wrapper {
    width: 70%;
    float: left;
  }
  #send-btn-wrapper, #connect-btn-wrapper {
    width: 15%;
    padding-left: 5px;
    float: left;
  }
  #aside {
    margin-left: 20px;
  }
}

#cookie-info {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 10px;
  width: 100%;
  display: none;
  z-index: 99;
  background: #333;
  color: #FFF;
}

#cookie-info a {
  color: #D66E1A;
}

#cookie-info-close {
  color: #D66E1A;
  text-transform: uppercase;
  float: right;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 20px;
  cursor: pointer;
}
